version: '3.8'

services:

  openwebui:
    image: ghcr.io/open-webui/open-webui:main
    environment:
      ENABLE_OLLAMA_API: False
      OPENAI_API_BASE_URL: http://192.168.12.45:8080/v1
      OPENAI_API_KEY: none
    volumes:
      - ./webui_data:/app/backend/data
    ports:
      - "3000:8080"
    restart: unless-stopped

  opencode:
    # image: ghcr.io/anomalyco/opencode:latest
    build:
      context: .
      dockerfile: ./opencode
    working_dir: /workspace
    environment:
      - OPENCODE_CONFIG_DIR=/config
    command: web --hostname 0.0.0.0 --port 4096 --log-level DEBUG --print-logs
    volumes:
      - ./opencode_config:/config
      - ./opencode_data:/workspace
    ports:
      - "4096:4096"
    restart: unless-stopped

  # claudecodeui:
  #   build:
  #     context: ./claudecodeui
  #     dockerfile: dockerfile
  #   working_dir: /workspace
  #   environment:
  #     ANTHROPIC_BASE_URL: http://192.168.12.45:8080/
  #     CLAUDE_CONFIG_DIR: /home/devuser/.claude
  #   volumes:
  #     - ./claudecodeui_data:/home/devuser/workspace
  #     - ./claude_config:/home/devuser/.claude
  #   ports:
  #     - "3001:3001"
  #   restart: unless-stopped

  # forgejomcp:
  #   build:
  #     context: .
  #     dockerfile: forgejomcp.dockerfile
  #   environment:
  #     - FORGEJO_URL=https://codeberg.org
  #     - FORGEJO_ACCESS_TOKEN=747590d10aa861ebdb44c374e2280854dbfaf81a
  #     - FORGEJO_DEBUG=true
  #   ports:
  #     - "8080:8080"
  #   restart: unless-stopped
  #   command: ["--transport", "sse", "--debug"]



  # coder:
  #   image: ghcr.io/coder/coder:latest
  #   environment:
  #     CODER_PG_CONNECTION_URL: "postgresql://${POSTGRES_USER:-username}:${POSTGRES_PASSWORD:-password}@database/${POSTGRES_DB:-coder}?sslmode=disable"
  #     CODER_HTTP_ADDRESS: "0.0.0.0:7080"
  #     CODER_ACCESS_URL: "192.168.0.100"
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - ./coder_data:/home/coder
  #   ports:
  #     - "7080:7080"
  #   depends_on:
  #     database:
  #       condition: service_healthy
  #   restart: unless-stopped

  # database:
  #   image: "postgres:17"
  #   ports:
  #    - "5432:5432"
  #   environment:
  #     POSTGRES_USER: ${POSTGRES_USER:-username} # The PostgreSQL user (useful to connect to the database)
  #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password} # The PostgreSQL password (useful to connect to the database)
  #     POSTGRES_DB: ${POSTGRES_DB:-coder} # The PostgreSQL default database (automatically created at first launch)
  #   volumes:
  #     - ./postgresql_data:/var/lib/postgresql/data # Use "docker volume rm coder_coder_data" to reset Coder
  #   healthcheck:
  #     test:
  #       [
  #         "CMD-SHELL",
  #         "pg_isready -U ${POSTGRES_USER:-username} -d ${POSTGRES_DB:-coder}",
  #       ]
  #     interval: 5s
  #     timeout: 5s
  #     retries: 5
